# Data Analysis with Pandas

**Cycle Share Data set** 
Renad Al-khlafat
25/10/2021

In [1]:
import pandas as pd

In [2]:
df_trip = pd.read_csv("trip.csv")
df_weather = pd.read_csv("weather.csv")
df_stations = pd.read_csv("station.csv")
df_trip

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
0,431,10/13/2014 10:31,10/13/2014 10:48,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960.0
1,432,10/13/2014 10:32,10/13/2014 10:48,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1970.0
2,433,10/13/2014 10:33,10/13/2014 10:48,SEA00486,883.831,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1988.0
3,434,10/13/2014 10:34,10/13/2014 10:48,SEA00333,865.937,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1977.0
4,435,10/13/2014 10:34,10/13/2014 10:49,SEA00202,923.923,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1971.0
...,...,...,...,...,...,...,...,...,...,...,...,...
286853,255241,8/31/2016 23:34,8/31/2016 23:45,SEA00201,679.532,Harvard Ave & E Pine St,2nd Ave & Spring St,CH-09,CBD-06,Short-Term Pass Holder,NaN,NaN
286854,255242,8/31/2016 23:48,9/1/2016 0:20,SEA00247,1965.418,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN
286855,255243,8/31/2016 23:47,9/1/2016 0:20,SEA00300,1951.173,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN
286856,255244,8/31/2016 23:49,9/1/2016 0:20,SEA00047,1883.299,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN
286857,255245,8/31/2016 23:49,9/1/2016 0:20,SEA00442,1896.031,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN

## What is the average trip duration for a borrowed bicycle?

In [3]:
average_trip_duration = df_trip["tripduration"].mean()
average_trip_duration

1178.3542840325176

## Whatâ€™s the most common age of a bicycle-sharer?

In [4]:
most_common = df_trip["birthyear"].mode()[0]
most_common_age =int(2021 - most_common)
most_common_age

34

## Given all the weather data here, find the average precipitation per month, and the median precipitation.

In [5]:
precipitation_avg1 = df_weather["Precipitation_In"].mean()
precipitation_avg = precipitation_avg1*30
precipitation_avg

3.1519593613933234

In [6]:
precipitation_median = df_weather["Precipitation_In"].median()
precipitation_median

0.0

## Whatâ€™s the average number of bikes at a given bike station?

In [7]:
bikes_avg = df_stations["install_dockcount"].mean()
bikes_avg

17.586206896551722

## When a bike station is modified, is it more likely that itâ€™ll lose bikes or gain bikes? How do you know?

In [8]:
current_bike_avg = df_stations["current_dockcount"].mean()
current_bike_avg

if current_bike_avg < bikes_avg:
    result = "likely lost bikes"
else:
    result ="likely gain bikes"

result

'likely lost bikes'

## Come up with 3 more questions that can be answered with this data set.

### question 1
what is the name of station that have `BT-05` id?

In [9]:
station_name = df_stations[df_stations["station_id"] == "BT-05"]["name"]
station_name

3    2nd Ave & Blanchard St
Name: name, dtype: object

### question 2
what is the `Max_Temperature_F` of `10/16/2014` ?

In [10]:
min_max_temp = df_weather[df_weather["Date"] == "10/16/2014"]["Max_Temperature_F"][3]
min_max_temp

71

### quetion 3
what is the start point for the trip that have the highest number of females ?

In [11]:
user_types = df_trip.set_index("trip_id")
gender_ = user_types[user_types["gender"] == "Female"].value_counts().idxmax()[4]
gender_

'E Pine St & 16th Ave'

# Testing part

In [12]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"
    assert_equal(average_trip_duration, 1178.3542840325176)
    assert_equal(most_common_age, 34)
    assert_equal(precipitation_avg, 3.1519593613933234)
    assert_equal(precipitation_median, 0.0)
    assert_equal(bikes_avg,17.586206896551722)
    assert_equal(station_name[3], '2nd Ave & Blanchard St')
    assert_equal(result, 'likely lost bikes')
    assert_equal(min_max_temp, 71)
    assert_equal(gender_,'E Pine St & 16th Ave')

    print("Success!!!")

test()

Success!!!